@model IEnumerable<Item>

<!-- Container for the table displaying item details -->
<div class="container">
    <table class='table table-striped'>
        <!-- Table headers for item properties -->
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Food group</th>
            <th>Energy per 100g</th>
            <th>Fat per 100g</th>
            <th>Protein per 100g</th>
            <th>Carbohydrates per 100g</th>
            <th>Salt per 100g</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>

        <!-- Loop through each item in the model and display its properties in the table rows -->
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ItemId</td>
                
                <!-- Link to the item's details page -->
                <td>
                    <a asp-controller="Item"
                        asp-action="Details"
                        asp-route-id="@item.ItemId">@item.Name</a>
                </td>
                <td>@item.Food_Group</td>
                <td>@item.Energi_Kcal</td>
                <td>@item.Fett</td>
                <td>@item.Protein</td>
                <td>@item.Karbohydrat</td>
                <td>@item.Salt</td>
                
                <!-- Display the item image with a maximum size -->
                <td>
                    <img src="@item.ImageUrl" alt="Item Image" style="max-width: 80px; max-height: 80px;" />
                </td>
                
                <!-- Links to update or delete the item -->
                <td>
                    <a asp-action="Update" asp-route-id="@item.ItemId">Update</a>
                    <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
                </td>
            </tr>
        }
    </table> 
</div>

