@model IEnumerable<OrderItem>

<!-- Container for displaying order items in a table -->
<div class="container">
    <table class='table table-striped' style='max-width: 1200px;'>
       
        <!-- Table headers for order item details -->
        <tr>
            <th>OrderItemId</th>
            <th>ItemId</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>OrderItemPrice</th>
            <th>Actions</th>
        </tr>

        <!-- Loop through each order item in the model and display its properties -->
        @foreach (var orderItem in Model)
        {
            <tr>
                <td>@orderItem.OrderItemId</td>
                <td>@orderItem.ItemId</td>
                <td>@orderItem.Item.Name</td>
                <td>@orderItem.Quantity</td>
                <td>@orderItem.OrderItemPrice</td>
                <td></td>
            </tr>
        }
    </table>
</div>
