@model ItemsViewModel
@{
    double EnergiToKcal(double energi)
    {
        return Math.Round(energi/4.184);
    }
}

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model.Items)
    {
        <div class="col">
            <div class="card">
                <a href="javascript:void(0);" class="open-modal w-100" data-item-id="@item.ItemId">
                    <img src="@item.ImageUrl" class="img-fluid custom-image-size card-img-top" alt="@item.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@EnergiToKcal(item.Energi_Kj) kcal</p>
                    </div>
                    @if (item.HasGreenKeyhole)
                    {
                        <img src="~/images/green_keyhole.jpg" alt="Nøkkelhullsmerke" class="keyhole-icon" />
                    }
                </a>
            </div>
        </div>
    }
</div>
