@model Exam.Models.Item
<link rel="stylesheet" href="~/css/Details.css">
<div>
    <h3 class="my-5 d-flex align-items-center justify-content-between">
        @Model.Name
        @if (Model.HasGreenKeyhole)
        {
            <img src="~/images/green_keyhole.jpg" alt="Nøkkelhullsmerke" class="keyhole-icon" />
        }
    </h3>
    <div class="row gx-5">
        <div class="col-md-5 position-relative">
            <img alt="@Model.Name" src="@Model.ImageUrl" class="product-image img-fluid" />
        </div>
        <div class="col-md-7">
            <details class="nutrition-details">
                <summary class="summary-subtle">Næringsinnhold per 100 gram</summary>
                <div class="nutrition-table-container">
                    <table>
                        <tr><td>Type:</td><td>@Model.Food_Group</td></tr>
                        <tr><td>Energi:</td><td>@Model.Energi_Kj kj</td></tr>
                        <tr><td>Fett:</td><td>@Model.Fett g</td></tr>
                        <tr><td>Protein:</td><td>@Model.Protein g</td></tr>
                        <tr><td>Karbohydrat:</td><td>@Model.Karbohydrat g</td></tr>
                        <tr><td>Salt:</td><td>@Model.Salt g</td></tr>
                    </table>
                </div>
            </details>
        </div>
    </div>
</div>

